/* ConfirmPopup.css */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup-content {
  background: white;
  border-radius: 5px;
  text-align: center;
  width: 240px;
  height: 151px;
  border: 1px solid;
  z-index: 1000;
}

#popup-content p{
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 12px;
}

#popup-button {
  display: flex;
  width: 240px;
}

#popup-button button {
  bottom: 0;
  width: 120px;
  text-align: center;
  height: 40px;
}

#no-btn {
  /* border-right: 1px solid; */
}
