#survey-write-contents {
  width: 100%; 
  max-width: 853px;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}

#survey-details-contents {
  width: 100%; 
  max-width: 853px;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}

#write-title {
  width: 100%;
  height: auto;
  margin: 30px 0 30px 0;
}

#write-title p {
  margin-bottom: 5px; 
}

#write-title input {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#write-date {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#write-date p {
  margin-bottom: 5px; 
}

#date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#write-date input {
  width: 45%; /* 부모 요소를 기준으로 100% */
  height: 40px; /* 적절한 높이 설정 */
  padding: 8px; /* 입력 필드 안쪽 여백 */
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#survey-question-wrap {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#survey-select {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#survey-write {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#survey-select select {
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-option {
  text-align: center;
  margin: 10px;
}

#input-question{
  display: flex; 
  flex-direction: column;
  margin: 8px 0;
}

#question-radio {
  display: flex;
}

#radio {
  width: 10%;
}

#radio-input {
  width: 90%;
  height: 20px;
  text-align: start;
  margin: 1% 2% 1% 0;
}

#survey-select-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #bcbcbc;
  border-bottom: 0.5px solid #bcbcbc;
  background-color: #efefef;
}

#survey-select-footer > div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}


#plus{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;;
}

#register-btn-back {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

#register-btn {
  width: 90%;
  padding: 10px 20px;
  background-color: #A6A6A6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

#necessary-onoff {
  font-size: 13px;
  display: flex;
  align-items: center;
}

#switch {
  display: flex;
  margin: 6px 10px 4px 0px;
  border: 0.5px solid #A6A6A6;
  text-align: center;
}

#switch-on, #switch-off {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch-on.active {
  background-color: #A6A6A6;
  color: white;
}

#switch-off.active {
  background-color: #A6A6A6;
  color: white;
}

#switch-on:not(.active) {
  background-color: #efefef;
  color: #efefef;
}

#switch-off:not(.active) {
  background-color: #efefef;
  color: #efefef;
}

#switch-on-detail {
  background-color: #A6A6A6;
  color: white;
}

#switch-off-detail {
  background-color: #efefef;
  color: #efefef;
}
