.surveys {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.surveys p {
  color: #313131;
  margin: 4px;
}

#survey-index {
  width: 18px;
  height: 18px;
  text-align: center;
  background: #A6A6A6;
  color: white;
}

#empty-list {
  text-align: center;
}