.surveys {
  padding: 10px 30px;
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.surveys p {
  color: #313131;
  margin: 4px;
}

#survey-index {
  width: 18px;
  height: 18px;
  text-align: center;
  background: #A6A6A6;
  color: white;
}

#empty-list {
  text-align: center;
}

#total-contents {
  padding: 8px 10px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #A0A0A0;
}

#go {
  width: 16px;
  height: 47px;
  display: flex;
  align-items: center;
}

#list-info {
  width: 75%;
}