#survey-header-wrap {
  border-bottom: 1px solid #a0a0a0; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 50px;
}

#survey-list-header{
  font-size: 18px;
}

#new-survey {
  position: absolute;
  right: 30px;
  top: 4%;
  text-align: center;
  background-color: #efefef;
  margin-top: 10px;
  width: 43px;
  height: 27px;
  font-size: 13px;
  border-radius: 10px;
  border: 0px;
}

#back-btn {
  position: absolute;
  left: 10px;
  top: 12%;
  text-align: center;
  margin-top: 3px;
  width: 37px;
  height: 23px;
  font-size: 27px;
  color: gray;
  background-color: white;
  border: 0px;

}
